<section class="Section basic-banner-section banner">
  <div class="container1">
    <h1 class="title">Frequently Asked Questions</h1>
  </div>
</section>
<br /><br />
<div class="container">
  <p>last update : January 23, 2022</p>
  <p>
    <br />
    <span>
      <strong>What is GL4 Store ?</strong><br />
      GL4 Store is a cloud-based gaming library. One of its most popular
      features is the ability for users to use any computer to play games they
      buy/download to their Steam accounts. This also allows users to store a
      large collection of games without using too much computer memory.<br />
      <br />
      <strong>Which platforms does GL4 Store support ?</strong><br />
      The GL4 Store currently offers PC support. You can check platform
      compatibility for individual titles by referring to the “About Game”
      section of any product page.<br />
      <br />

      <strong>Why does the GL4 Store make exclusivity deals?</strong><br />
      Exclusives are a part of the growth of many successful platforms for games
      and for other forms of digital entertainment, such as streaming video and
      music.<br />
      <br />
      <strong>What’s this about free games ?</strong><br />
      GL4 Store will be offering a new free game available each week throughout
      2022. When you claim a free game, it’s yours to keep - even after the game
      is no longer available to new customers for free.<br />
      <br />
      <strong>Why does the GL4 Store make exclusivity deals ?</strong><br />
      Exclusives are a part of the growth of many successful platforms for games
      and for other forms of digital entertainment, such as streaming video and
      music. GL4 works in partnership with developers and publishers to offer
      games exclusively on the store. In exchange for exclusivity, GL4 provides
      them with financial support for development and marketing, which enables
      them to build more polished games with significantly less uncertainty for
      the creators. In addition, creators will earn 88% of all the revenue from
      their game, while most stores only offer 70%.<br />
      <br />
      <strong>What are the future plans for the GL4 Store ?</strong><br />
      You can find upcoming features, developer updates, and major known issues
      on GL4 Store Roadmap on Trello. We’ll also share significant updates with
      you on our news feed and social media pages such as Facebook, Twitter,
      Instagram, and YouTube. .<br />
      <br />
      <strong>Which payment methods are supported ?</strong><br />
      GL4 Store supports credit cards , E-dinar Cards and a variety of payement
      applications .<br />
      <br />
    </span>
  </p>
</div>
