.login{
  background: linear-gradient(90deg, hsl(206, 47%, 26%), hsl(271, 30%, 24%));
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin: 0;
}

.card{
  border: none;
  width: 40%;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%,-50%);
  float: none;
}

.card h1,
h6{
  color: #000;
}

label{
  color: #000;
}
