<div class="main-content" role="main">
  <div class="page-news">
    <section class="Section basic-banner-section banner">
      <div class="container1"><h1 class="title">News</h1></div>
    </section>
    <section class="Section news-section">
      <div class="container">
        <div class="news-list">
          <a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/GEFORCE_Asset.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Ubisoft Account linking now available in GeForce NOW!
                </h2>
                <div class="title mobile">
                  Ubisoft Account linking now available in GeForce NOW!
                </div>
                <p class="date"><span>December 20, 2021</span></p>
                <p class="excerpt">
                  Today, we have the great pleasure to announce the availability
                  of Ubisoft account linking with NVIDIA GeForce NOW! Thanks
                  to...
                </p>
                <p class="excerpt mobile">
                  Today, we have the great pleasure to announce the availability
                  of Ubisoft...
                </p>
              </div>
            </div></a
          >
          <a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://static3.cdn.ubi.com/orbit/uplaynews/_UplayNews2021/Random/ECHOReveal_FINAL.png"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Splinter Cell Remake Begins Development at Ubisoft Toronto
                </h2>
                <div class="title mobile">
                  Splinter Cell Remake Begins Development at Ubisoft Toronto
                </div>
                <p class="date"><span>December 20, 2021</span></p>
                <p class="excerpt">
                  Ubisoft has greenlit the development of a Splinter Cell remake
                  that will draw from the rich canvas of the brand. Led by...
                </p>
                <p class="excerpt mobile">
                  Ubisoft has greenlit the development of a Splinter Cell remake
                  that will draw...
                </p>
              </div>
            </div></a
          ><a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/MMMM.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">Monopoly Madness is now available!</h2>
                <div class="title mobile">
                  Monopoly Madness is now available!
                </div>
                <p class="date"><span>December 17, 2021</span></p>
                <p class="excerpt">
                  It’s your lucky day! Our favorite Real-Estate Mogul is going
                  on a well-earned vacation and he’s looking for a temporary...
                </p>
                <p class="excerpt mobile">
                  It’s your lucky day! Our favorite Real-Estate Mogul is going
                  on a well-earned...
                </p>
              </div>
            </div></a
          ><a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://static3.cdn.ubi.com/orbit/uplaynews/_UplayNews2021/Anno/GU13_release_notes_1280x720.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">Anno 1800: Game Update 13</h2>
                <div class="title mobile">Anno 1800: Game Update 13</div>
                <p class="date"><span>December 17, 2021</span></p>
                <p class="excerpt">
                  Release date: December 14th, 6 PM CET / 12 PM EST Download
                  Size: 2.5 GB Adding support for Cosmetic DLC 6...
                </p>
                <p class="excerpt mobile">
                  Release date: December 14th, 6 PM CET / 12 PM EST Download
                  Size: 2.5 GB ...
                </p>
              </div>
            </div></a
          ><a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/NEWS_ACV_Brotherhood_Challenge_EN.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Assassin's Creed Valhalla - Get the Assassin's Creed
                  Brotherhood Tattoo
                </h2>
                <div class="title mobile">
                  Assassin's Creed Valhalla - Get the Assassin's Creed
                  Brotherhood...
                </div>
                <p class="date"><span>December 16, 2021</span></p>
                <p class="excerpt">
                  Viking, it's time to widen your community! Get for free the
                  Assassin's Creed Brotherhood Tattoo by completing the
                  Brotherhood...
                </p>
                <p class="excerpt mobile">
                  Viking, it's time to widen your community! Get for free the
                  Assassin's Creed...
                </p>
              </div>
            </div></a
          ><a class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://static3.cdn.ubi.com/orbit/uplaynews/_UplayNews2021/FC6/FC_Money_heist_overlayjpg.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  New “Money Heist” Gear Bundle In Far Cry 6 Available Now
                </h2>
                <div class="title mobile">
                  New “Money Heist” Gear Bundle In Far Cry 6 Available Now
                </div>
                <p class="date"><span>December 16, 2021</span></p>
                <p class="excerpt">
                  Get ready to return to Yara to stage the ultimate heist in Far
                  Cry 6 with the new “Money Heist” gear bundle, available
                  now....
                </p>
                <p class="excerpt mobile">
                  Get ready to return to Yara to stage the ultimate heist in Far
                  Cry 6 with the...
                </p>
              </div>
            </div></a
          >
          <!-- <a
            href="/en-US/news/ignt.29697/dont-miss-trackmania-grand-league-fall-2021-finals/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://static3.cdn.ubi.com/orbit/uplaynews/_UplayNews2021/Trackmania/15_Dec_UPLAY_NORMAL-NEWS_1280x720.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Don’t miss Trackmania Grand League Fall 2021 Finals!
                </h2>
                <div class="title mobile">
                  Don’t miss Trackmania Grand League Fall 2021 Finals!
                </div>
                <p class="date"><span>December 16, 2021</span></p>
                <p class="excerpt">
                  Who will be your Trackmania Grand League Fall 2021 champion?
                  The 9 best players of the season will face each other in
                  The...
                </p>
                <p class="excerpt mobile">
                  Who will be your Trackmania Grand League Fall 2021 champion?
                  The 9 best players...
                </p>
              </div>
            </div></a
          ><a
            href="/en-US/news/ignt.29672/assassins-creed-valhalla-get-the-astral-blade/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/NEWS_ACV_Astral_Blade_EN1.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Assassin's Creed Valhalla - Get the Astral Blade
                </h2>
                <div class="title mobile">
                  Assassin's Creed Valhalla - Get the Astral Blade
                </div>
                <p class="date"><span>December 15, 2021</span></p>
                <p class="excerpt">
                  Get the Astral Blade for 100 Units on Ubisoft Connect! This
                  Legendary Reward has been forged by the members of the
                  Mentors...
                </p>
                <p class="excerpt mobile">
                  Get the Astral Blade for 100 Units on Ubisoft Connect! This
                  Legendary Reward has...
                </p>
              </div>
            </div></a
          >
           <a

            href="/en-US/news/ignt.29652/riders-republic-season-1-winter-bash-is-out/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/V2_S1_WinterBashAnnouncement.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Riders Republic Season 1 WINTER BASH is out!
                </h2>
                <div class="title mobile">
                  Riders Republic Season 1 WINTER BASH is out!
                </div>
                <p class="date"><span>December 15, 2021</span></p>
                <p class="excerpt">
                  Celebrate everything we love about winter during Riders
                  Republic's first season! Season 1 comes with a Riders Ridge
                  re-skin, a...
                </p>
                <p class="excerpt mobile">
                  Celebrate everything we love about winter during Riders
                  Republic's first season! ...
                </p>
              </div>
            </div></a
          ><a
            href="/en-US/news/ignt.29670/assassins-creed-valhalla-new-chance-to-get-the-adrestia-naval-items/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/ACV_ADRESTIA_News_EN.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Assassin's Creed Valhalla - New chance to get the Adrestia
                  naval items
                </h2>
                <div class="title mobile">
                  Assassin's Creed Valhalla - New chance to get the Adrestia
                  naval...
                </div>
                <p class="date"><span>December 15, 2021</span></p>
                <p class="excerpt">
                  Viking, are you missing the sea air? Get all Adrestia naval
                  items for 60 Units, including: - Adrestia Figurehead -
                  Adrestia...
                </p>
                <p class="excerpt mobile">
                  Viking, are you missing the sea air? Get all Adrestia naval
                  items for 60 Units...
                </p>
              </div>
            </div></a
          ><a
            href="/en-US/news/ignt.29648/watch-dogs-legion-new-chance-to-get-your-winter-holidays-free-rewards/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/NEWS_WDL_X_Gift_EN.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Watch Dogs: Legion - New chance to get your Winter Holidays
                  Free Rewards
                </h2>
                <div class="title mobile">
                  Watch Dogs: Legion - New chance to get your Winter Holidays
                  Free...
                </div>
                <p class="date"><span>December 15, 2021</span></p>
                <p class="excerpt">
                  The air is cold, it starts snowing and all the Christmas
                  Threes are lighten: it's time to celebrate! Refresh your
                  wardrobe...
                </p>
                <p class="excerpt mobile">
                  The air is cold, it starts snowing and all the Christmas
                  Threes are lighten: it's...
                </p>
              </div>
            </div></a
          ><a
            href="/en-US/news/ignt.29595/assassins-creed-valhalla-get-free-ubisoft-logo-back-tattoos/"
            class="bootstrap-card news-list-item clickable card"
            ><div class="card-body">
              <div class="image-section">
                <img
                  src="https://ubiservices.cdn.ubi.com/66fcdb38-e7c2-45dd-a1c4-acbd7086d00f/news/NEWS_ACV_Ubi_35_Tattoo_EN.jpg"
                  class="image"
                />
              </div>
              <div class="text-section">
                <h2 class="title">
                  Assassin's Creed Valhalla - Get free Ubisoft Logo Back
                  Tattoos!
                </h2>
                <div class="title mobile">
                  Assassin's Creed Valhalla - Get free Ubisoft Logo Back
                  Tattoos!
                </div>
                <p class="date"><span>December 14, 2021</span></p>
                <p class="excerpt">
                  Ubisoft is turning 35! To celebrate and thank you for 35
                  wonderful years of immersive worlds, we invite you on a
                  journey...
                </p>
                <p class="excerpt mobile">
                  Ubisoft is turning 35! To celebrate and thank you for 35
                  wonderful years of...
                </p>
              </div>
            </div></a
          >
          -->
          <div class="load-more-news">
            <a
              data-metrics-action="More news"
              data-metrics-category="Action"
              data-metrics-section="news"
              data-metrics-event-name="clickevent"
              class="nice-link link large"
              title=""
              href="/"
              ><span>More news</span
              ><svg viewBox="0 0 16 16" class="nice-link-right-arrow large">
                <title>next</title>
                <path
                  fill="currentColor"
                  d="M11.285 8.474l-0.004 0.003-5.741 5.842c-0.237 0.242-0.622 0.242-0.86 0s-0.237-0.633 0-0.875l5.345-5.439-5.345-5.439c-0.24-0.244-0.24-0.639 0-0.883s0.628-0.244 0.868 0l5.773 5.874c0.24 0.244 0.24 0.639 0 0.883-0.012 0.012-0.023 0.023-0.036 0.034z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
