<footer class="club-footer">
    <div class="footer-container">
        <div class="FooterUtilityMenu">
            <div class="socials">
                <div class="SocialLinkList SocialLinkList">
                    <span>Follow us</span>
                    <a href="" target="_blank" data-metrics-category="social" class="nice-link link social-link regular OutboundLink social-link tracking-wrapper" >
                        <div class="social-link-text">
                            <img src="../../../../assets/images/fb.svg" class="facebook-icon" alt="">
                        </div>
                    </a>
                    <a href="" target="_blank" data-metrics-category="social" class="nice-link link social-link regular OutboundLink social-link tracking-wrapper" >
                        <div class="social-link-text">
                            <img src="../../../../assets/images/insta.svg" class="facebook-icon" alt="">
                        </div>
                    </a>
                    <a href="" target="_blank" data-metrics-category="social" class="nice-link link social-link regular OutboundLink social-link tracking-wrapper" >
                        <div class="social-link-text">
                            <img src="../../../../assets/images/twitter.svg" class="facebook-icon" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>   
        <hr class="footer-separator">
        <div class="footer-links">
            <div class="footer-menu">
                <nav class="FooterMainMenu">
                    <ul class="Menu">
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">GL4</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Store</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Contact</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">FAQ</a></li>
                    </ul>
                </nav>
                <nav class="FooterSecondaryMenu">
                    <ul class="Menu">
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Terms of Use</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Terms of sale</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Privacy policy</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Set cookies</a></li>
                        <li class="MenuLink"><a href="" class="nice-link link regular OutboundLink">Do not sell my personal information</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>