<div class="background"></div>
<div class="background-texture"></div>
<header class="header">
  <div class="left-content">
    <p class="stay-home">Stay Home!!</p>
    <h1>Be a good Easter egg.</h1>
    <p></p>
    <p class="para">
        OPERATORS, PREPARE FOR EXTRACTION! NOW STARTING AT <span style="color: #24203a"> €39.99 </span>
        DIVE INTO THE NEXT MAINLINE RAINBOW SIX TACTICAL CO-OP SHOOTER. JOIN MILLIONS IN RAINBOW SIX NOW!
    
  </div>
    
   
 
</header>
<script src="main.js"></script>