<carousel>
    <slide>
        <div class="content">
      <h1>Time-Limited Challenge</h1>
      <p class="par">From January 13th to 20th, get the Ottoman Brotherhood <br>back Tattoo by completing the Ottoman Brotherhood Challenge!</p>
      <a href="/store">
      <button type="button" class="btn btn-primary">Go To Store</button>
      </a>
    </div>
    <aside>
        <img class="side-picture" src="../../assets/images/home4.png" alt="">
    </aside>
    </slide>
    <slide>
        <div class="content">
      <h1>New Rewards</h1>
      <p class="par">To celebrate Far Cry 6 Control DLC, enjoy a<br>new bundle of Rewards!</p>
      <a href="/store">
      <button type="button" class="btn btn-primary">Go To Store</button>

      </a>
        </div>
        <img class="side-picture" src="../../assets/images/home3.png" alt="">
    </slide>
    <slide>
        <div class="content">
      <h1>Next Challenge</h1>
      <p class="par">Get new customization items to mess with<br> your oponents and win the game! </p>
      <a href="/store">
      <button type="button" class="btn btn-primary" >Go To Store</button>
      </a>
        </div>
        <img class="side-picture" src="../../assets/images/home2.png" alt="">
    </slide>
  </carousel>
  